/*$main-gradient: linear-gradient(0deg, #cffafe, #fffbeb);*/
html {
  height: 100%;
  width: 100%;
}

html,
body {
  background-color: #06b6d4;
  background-image: linear-gradient(0deg, #0f766e, #06b6d4);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

*.icon {
  height: 20px;
  width: 20px;
}

*.icon:hover {
  transform: scale(1.07);
}

*.icon:active {
  transform: scale(0.96);
}

body {
  display: grid;
  grid-template-columns: max(170px, 10%) 1fr;
  grid-template-rows: max-content 1fr;
  overflow: auto;
  resize: both;
  min-height: 100%;
  position: absolute;
}
body header {
  grid-area: 1/2;
  background-color: transparent;
  box-shadow: none;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, max-content);
  align-items: center;
}
body header #top {
  grid-area: 1/span 2;
  display: flex;
  flex-flow: row wrap;
  flex: auto;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}
body header #top form {
  display: inline-flex;
  flex: auto;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}
body header #top form input {
  width: min(500px, 80%);
  height: 1.4rem;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-indent: 10px;
}
body header #top form input:focus {
  outline: none;
}
body header #top #alerts {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 20px;
}
body header #top #alerts img:last-of-type {
  border-radius: 100%;
  height: 36px;
  width: 36px;
}
body header #top #alerts a .icon {
  height: 20px;
  width: 20px;
}
body header #top #alerts a {
  color: white;
  margin-left: -8px;
  text-decoration: none;
}
body header #top #alerts a:hover {
  text-decoration: underline;
}
body header #welcome {
  grid-area: 2/1;
  display: grid;
  grid-template-columns: max-content 4fr;
  grid-auto-rows: max-content;
  justify-items: start;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  column-gap: 20px;
}
body header #welcome img {
  grid-area: span 2/1;
  align-self: center;
  width: 70px;
  border-radius: 100%;
}
body header #welcome p {
  grid-area: 1/2;
  align-self: end;
  margin: 0;
}
body header #welcome h1 {
  grid-area: 2/2;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
body header #btn-container {
  grid-area: 2/2;
  display: flex;
  flex: 0;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 20px;
}
body header #btn-container button {
  height: 45px;
  width: 120px;
  background-color: #ecfeff;
  border: none;
  border-radius: 25px;
  color: #134e4a;
  font-size: 0.9rem;
  font-weight: 500;
}
body .sidebar {
  color: white;
  background-color: transparent;
  grid-area: 1/1/3/1;
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  height: 100%;
  position: relative;
}
body .sidebar #fixed {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  height: 100%;
  align-items: left;
  position: fixed;
  justify-content: flex-start;
}
body .sidebar #fixed div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
body .sidebar #fixed div img {
  height: auto;
  width: 36px;
}
body .sidebar #fixed div h1 {
  font-size: 2rem;
}
body .sidebar #fixed ul {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
}
body .sidebar #fixed ul li:nth-last-child(3) {
  margin-top: 50px;
}
body .sidebar #fixed ul a {
  color: white;
  text-decoration: none;
  display: inline-flex;
  gap: 6px;
}
body .sidebar #fixed ul a:hover {
  text-decoration: underline;
}
body .sidebar #fixed #signature {
  color: #67e8f9;
  font-size: 0.75rem;
  margin: 15px 10px;
}
body .sidebar #fixed #signature a {
  color: #67e8f9;
  transition-duration: 150ms;
}
body .sidebar #fixed #signature a:hover {
  color: white;
}
body #main {
  display: grid;
  grid-template-columns: 1fr minmax(290px, 20%);
  grid-template-rows: 1fr;
}
body #main .pins {
  grid-area: span 2/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  height: 100%;
  gap: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 0;
}
body #main .pins .pin {
  height: max-content;
  padding: 15px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 20px;
  color: #0f3f3c;
}
body #main .pins .pin h3 {
  margin: 0;
  font-size: 1.3rem;
}
body #main .pins .pin h4 {
  font-size: 1rem;
  margin-bottom: 4px;
}
body #main .pins .pin .announcement {
  border-bottom: 1px solid #0f3f3c;
}
body #main .pins .pin .announcement:last-of-type {
  border: none;
}
body #main .pins .pin div p {
  font-size: 0.9rem;
  margin-top: 0;
}
body #main .content-container {
  grid-area: 1/1;
  margin: 0 20px;
  height: 100%;
  display: flex;
  flex: auto;
  flex-flow: row wrap;
  gap: 0 20px;
  overflow: auto;
}
body #main .content-container .content {
  display: flex;
  flex: auto;
  flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 20px;
  margin: 10px auto;
  height: max-content;
  width: min(80%, 330px);
}
body #main .content-container .content h2 {
  color: #0f3f3c;
  font-size: 1.4rem;
  margin: 3%;
}
body #main .content-container .content .screenshot {
  margin: auto;
  width: max(240px, 90%);
  height: auto;
  border-radius: 10px;
}
body #main .content-container .content p {
  color: #134e4a;
  margin: 4%;
  font-size: 1rem;
}
body #main .content-container .content .icon-container {
  display: inline-flex;
  gap: 15px;
  justify-content: flex-end;
  margin: 0 3% 3% 3%;
}

/*# sourceMappingURL=style.css.map */
