$main-background: #06b6d4;
$main-gradient: linear-gradient(0deg, #0f766e, #06b6d4);
/*$main-gradient: linear-gradient(0deg, #cffafe, #fffbeb);*/

$header-background: transparent;
$header-text: white;
$input-color: white;
$input-border: 1px solid lightgray;
$header-shadow: none;

$button-color: #ecfeff;
$button-text: #134e4a;
$button-border: none;

$icon-size: 20px;

$sidebar-width: 170px;
$sidebar-background: transparent;
$sidebar-text: white;

$signature: #67e8f9;
$signature-hover: white;

$right-bar-width: 290px;
$right-bar-background: rgba(255, 255, 255, 0.78);
$pin-text: #0f3f3c;

$content-background:rgba(255, 255, 255, 0.78);
$content-min-width: 330px;
$content-title: #0f3f3c;
$content-text: #134e4a;

html {
    height: 100%;
    width: 100%;
}

html,
body {
    background-color: $main-background;
    background-image: $main-gradient;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

*.icon {
    height: $icon-size;
    width: $icon-size;
}

*.icon:hover {
    transform: scale(1.07);
}

*.icon:active {
    transform: scale(0.96);
}

body {
    display: grid;

    grid-template-columns: max($sidebar-width, 10%) 1fr;
    grid-template-rows: max-content 1fr;

    overflow: auto;
    resize: both;

    min-height: 100%; 
    position: absolute;

    header {
        grid-area: 1 / 2;

        background-color: $header-background;
        box-shadow: $header-shadow;
        color: $header-text;
    
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, max-content);

        align-items: center;
    
        #top {
            grid-area: 1 / span 2;
            display: flex;
            flex-flow: row wrap;
            flex: auto;
            justify-content: space-between;

            padding: 10px 0;
            width: 100%;

            form {
                display: inline-flex;
                flex: auto;
                
                align-items: center;
                gap: 10px;
                
                padding-left: 20px;
                
                input {
                    width: min(500px, 80%);
                    height: 1.4rem;
                    background-color: $input-color;
                    border: $input-border;
                    border-radius: 10px;
                    
                    text-indent: 10px;
                }

                input:focus {
                    outline: none;
                } 
            }
        
            #alerts {
                display: flex;
                flex: 1;
                flex-flow: row nowrap;
    
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                padding-right: 20px;
    
                img:last-of-type {
                    border-radius: 100%;
                    height: 36px;
                    width: 36px;
                }

                a .icon {
                    height: $icon-size;
                    width: $icon-size;
                }
                a {
                    color: $header-text;
                    margin-left: -8px;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    
        #welcome {
            grid-area: 2 / 1;

            display: grid;
            grid-template-columns: max-content 4fr;
            grid-auto-rows: max-content;
            
            justify-items: start;
            margin: 0;
            padding-left: 20px;
            padding-bottom: 10px;
            column-gap: 20px;

            img {
                grid-area: span 2 / 1;

                align-self: center;
                width: 70px;
                border-radius: 100%;
            }

            p {
                grid-area: 1 / 2;

                align-self: end;
                margin: 0;
            }

            h1 {
                grid-area: 2 / 2;

                font-size: 1.5rem;
                font-weight: 600;
                margin: 0;
            }
        }

        #btn-container {
            grid-area: 2 / 2;

            display: flex;
            flex: 0;
            gap: 20px;
            align-items: center;
            justify-content: space-evenly;

            padding-right: 20px;

            button {
                height: 45px;
                width: 120px;

                background-color: $button-color;
                border: $button-border;
                border-radius: 25px;
                color: $button-text;
                font-size: 0.9rem;
                font-weight: 500;  
            }
        }
    }

    .sidebar {
        color: $sidebar-text;
        background-color: $sidebar-background;
        grid-area: 1 / 1 / 3 / 1;

        display: flex;
        flex: auto;
        flex-flow: column nowrap;

        height: 100%;
        position: relative;

        #fixed {
            display: flex;
            flex: auto;
            flex-flow: column nowrap;
    
            height: 100%;

            align-items: left;
            position: fixed;
            justify-content: flex-start;

            div {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 6px;

                img {
                    height: auto;
                    width: 36px;
                }
        
                h1 {
                    font-size: 2rem;
                }
            }

            ul {
                display: flex;
                flex: 1;
                flex-flow: column nowrap;

                align-items:flex-start;
                gap: 20px;
    
                list-style: none;

                li:nth-last-child(3) {
                    margin-top: 50px;
                }

                a {
                    color: $sidebar-text;
                    text-decoration: none;

                    display: inline-flex;
                    gap: 6px;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
            
            #signature {
                color: $signature;
                font-size: .75rem;
                margin: 15px 10px;

                a {
                    color: $signature;
                    transition-duration: 150ms;
                }

                a:hover {
                    color: $signature-hover;
                    
                }
            }
        }
    }

    #main {
        display: grid;

        grid-template-columns: 1fr minmax($right-bar-width, 20%);
        grid-template-rows: 1fr;

        .pins {
            grid-area: span 2 / 2;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: max-content;

            height: 100%;
            gap: 20px;

            margin-top: 10px;
            margin-right: 10px;
            margin-left: 0;

            .pin {
                height: max-content;
                padding: 15px;
                margin-right: 10px;

                background-color: $right-bar-background;
                border-radius: 20px;
                color: $pin-text;

                h3 {
                    margin: 0;
                    font-size: 1.3rem;
                }

                h4 {
                    font-size: 1rem;
                    margin-bottom: 4px;
                }

                .announcement {
                    border-bottom: 1px solid $pin-text;

                }

                .announcement:last-of-type {
                    border: none;
                }

                div p {
                    font-size: .9rem;
                    margin-top: 0;
                }
            }
        }

        .content-container {
            grid-area: 1 / 1;

            margin: 0 20px;
            height: 100%;

            display: flex;
            flex: auto;
            flex-flow: row wrap;

            gap: 0 20px;

            overflow: auto;
            
            .content {
                display: flex;
                flex: auto;
                flex-flow: column nowrap;

                background-color: $content-background;
                border-radius: 20px;

                margin: 10px auto;
                height: max-content;
                width: min(80%, $content-min-width);

                h2 {
                    color: $content-title;
                    font-size: 1.4rem;
                    margin: 3%;
                }

                .screenshot {
                    margin: auto;
                    width: max(240px, 90%);
                    height: auto;

                    border-radius: 10px;
                }
                
                p {
                    color: $content-text;
                    margin: 4%;
                    font-size: 1rem;
                }

                .icon-container {
                    display: inline-flex;
                    gap: 15px;
                    justify-content: flex-end;
                    margin: 0 3% 3% 3%;
                }
            }
        }
    }
}